<div *ngIf="pokemon && types" class="pokemon-details" [ngStyle]="{'background': getBackgroundGradient()}">
  <button (click)="onClose()" class="pokemon-details__close-button">
    <app-svg-icon type="chevron-down"></app-svg-icon>
  </button>
  <div class="pokemon-details__image">
    <img [src]="getImageUri()" [alt]="pokemon.name.en">
  </div>
  <div class="pokemon-details__info">
    <div class="pokemon-details__name">{{pokemon.name.en}}
    </div>
    <div class="pokemon-details__types">
      <span *ngFor="let type of pokemon.type" class="pokemon-details__type" [ngStyle]="getTypeBoxStyle(type)">
        {{getType(type).en}}
      </span>
    </div>
    <div class="pokemon-details__description">
      {{pokemon.description}}
    </div>
    <app-tabs [highlightColorFragment]="getPrimaryColorFragment()">
      <app-tab title="Stats">
        <app-pokemon-stats [pokemon]="pokemon" [primaryColorFragment]="getPrimaryColorFragment()"></app-pokemon-stats>
      </app-tab>
      <app-tab title="Evolutions">
        <p>Coming soon 😅</p>
      </app-tab>
      <app-tab title="Moves">
        <p>Coming soon 😅</p>
      </app-tab>
    </app-tabs>
  </div>
</div>