.pokemon-details {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pokemon-details__close-button {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 3rem;
  padding: 5px;
  background: transparent;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.pokemon-details__close-button:hover,
.pokemon-details__close-button:active,
.pokemon-details__close-button:focus {
  outline: none;
  text-shadow: 1px 1px 2px #55555555;
}

.pokemon-details__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.pokemon-details__image > img {
  position: relative;
  top: 2rem;
  max-width: 50vw;
  max-height: 30vh;
}

.pokemon-details__info {
  align-self: stretch;
  flex: 1;
  background-color: white;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
}

.pokemon-details__name {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-text-dark);
}

.pokemon-details__types {
  display: flex;
  margin-bottom: 1.2rem;
}

.pokemon-details__type {
  display: block;
  padding: 5px 0;
  border-radius: 3rem;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.2rem;
  text-shadow: 0px 0px 3px #ffffff66, 1px 1px 3px #55555555;
  width: 5rem;
  text-align: center;
}

.pokemon-details__description {
  color: var(--color-text-dark);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.2rem;
}

.pokemon-details__tab-container {
  align-self: stretch;
  padding: 0 15vw;
}

.pokemon-details__tab-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
